name: Build
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        scalaVersion: ["2.12.15", "2.13.8"]
        platform: ["JS", "JVM"]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: coursier/cache-action@v6
      - uses: olafurpg/setup-scala@v12

      - name: Test
        run: sbt ++${{matrix.scalaVersion}} probabilityMonad${{matrix.platform}}/test
